@media only screen and (max-width: 1220px) {
  .main-navigation {
    max-width: 87%;
  }

  .main-navigation a {
    margin-left: 5px;
    padding: 14px 9px;
  }

  .main-navigation a:first-child {
    margin-left: 0;
  }

  .main-news__item {
    max-width: 47%;
    margin: 0 10px 25px;
  }

  .header__menu {
    flex-wrap: nowrap;
  }

  .font-scale {
    min-width: 120px;
  }

  .main-news__btn {
    position: absolute;
    bottom: 20px;
    margin-top: 0;
    left: 25px;
  }

  .main-news__item-info {
    position: relative;
  }
}

@media screen and (min-color-index: 0) and (-webkit-min-device-pixel-ratio: 0) and only screen and (max-width: 1220px) {
  .main-navigation a {
    margin-left: 1px;
  }
}

@media only screen and (max-width: 992px) {
  ::-webkit-resizer {
    background-image: url('');
    background-repeat: no-repeat;
    width: 9px;
    height: 1px;
  }

  ::-webkit-scrollbar {
    width: 9px;
  }

  ::-webkit-scrollbar-button {
    background-image: url('');
    background-repat: no-repeat;
    width: 9px;
    height: 0px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: #0099d2;
  }

  ::-webkit-scrollbar-track {
    background-color: #202020;
  }

  .main-news__text {
    max-height: 80px;
  }

  .search-form {
    display: none;
  }

  .search-form__mobile {
    width: 250px;
    display: inline-block;
    padding-top: 20px;
    padding-left: 20px;
    margin-top: 14px;
  }

  .search-form__mobile .search-form__input {
    float: left;
    width: 80%;
  }

  .main-navigation__mobile-btn {
    display: inline-block;
    z-index: 111;
    position: relative;
    vertical-align: top;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 4px;
  }

  .header__user-navigation a {
    margin-right: 20px;
  }

  .font-scale {
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 20px;
  }

  .main-navigation {
    display: block;
    padding-top: 20px;
    margin-bottom: 20px;
    max-width: 100%;
  }

  .header__top {
    padding: 5px 30px 5px;
  }

  .main-navigation a {
    display: block;
    border-top: 1px solid #fff;
    padding-left: 20px;
  }

  .main-navigation a:last-child {
    border-bottom: 1px solid #fff;
  }

  .header__menu {
    position: fixed;
    top: 0;
    left: -470px;
    background-color: #dceef7;
    height: 100%;
    width: 370px;
    max-width: 100%;
    z-index: 11;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
  }

  .main-news__item {
    width: 50%;
    position: relative;
  }

  .main-news__item > div {
    width: 100%;
  }

  .main-news__item-image {
    height: 200px;
  }

  .main-slider__wrapper {
    height: 400px;
  }

  .main-slider__info-text {
    text-shadow: 1px 1px 2px #ffffff;
  }

  .header__menu {
    display: block;
  }

  .font-scale button {
    width: 34px;
    height: 34px;
  }

  .font-scale__btn_small {
    font-size: 0.875em;
  }

  .font-scale__btn_medium {
    font-size: 1em;
  }

  .font-scale__btn_large {
    font-size: 1.25em;
  }

  .header__menu .main-navigation__mobile-btn {
    position: absolute;
    right: 15px;
    top: 15px;
  }

  .main-news__item-info_bottom {
    margin-top: 200px;
  }

  .main-news__item-image_right {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  .main-news__btn {
    position: relative;
    bottom: 0;
    left: 0;
    margin-top: 20px;
  }

  .main-news__item-info {
    height: auto;
  }
}

@media only screen and (max-width: 768px) {
  .main-news__item {
    width: 100%;
    margin: 0 auto 20px;
    max-width: 100%;
  }

  .icon-gift {
    left: -3px;
  }

  .footer-navigation__item {
    width: 49%;
    text-align: center;
    margin-bottom: 30px;
  }

  .footer-navigation__title,
  .footer-navigation__item:first-child p {
    margin-bottom: 15px;
  }

  .gift-block {
    font-size: 0.825em;
  }

  .header__top {
    padding: 10px;
    flex-wrap: nowrap;
  }

  .header__top h1 {
    margin-right: 20px;
  }

  .logo {
    width: 55px;
    display: inline-block;
  }

  .logo img {
    height: auto;
    border: 0px solid;
    outline: none;
  }

  .search-form__mobile {
    width: 230px;
    padding-top: 15px;
    padding-left: 15px;
  }

  .main-navigation a {
    padding-left: 15px;
  }

  .main-slider__arrows input[name="prev"] {
    left: 10px;
    width: 15px;
    height: 50px;
  }

  .main-slider__arrows input[name="next"] {
    right: 10px;
    width: 15px;
    height: 50px;
    background-position: 15px 0;
  }

  .main-slider__arrows input[name="next"]:hover {
    background-position: 16px -69px;
  }

  .main-slider__wrapper {
    height: 300px;
  }

  .main-slider__info {
    top: 10%;
    width: 85%;
  }

  .main-news {
    padding: 30px 15px;
  }

  .main-news h2 {
    margin-bottom: 30px;
  }

  .main-paralax p {
    width: 90%;
  }

  .icon-gift {
    display: block;
    margin: auto;
  }

  .gift-block {
    line-height: 22px;
  }

  .footer-navigation__item {
    width: 100%;
  }

  h2 {
    font-size: 1.5em;
  }

  .main-slider__info-text {
    font-size: .825em;
  }

  .main-news__title {
    font-size: 1em;
  }

  .main-news__item {
    max-width: 100%;
  }

  .main-news__item-image {
    height: 250px;
  }
}

@media only screen and (max-width: 480px) {
  .main-news__item-image {
    height: 200px;
  }
}

@media screen and (min-color-index: 0) and (-webkit-min-device-pixel-ratio: 0) {
  .main-navigation a {
    margin-left: 1%;
  }
}
/*# sourceMappingURL=media.css.map */
