blockquote,
body,
code,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
li,
p,
pre,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
}

a {
  text-decoration: none;
  -webkit-transition: all .5s;
  transition: all .5s;
}

img {
  max-width: 100%;
}

input::-webkit-input-placeholder {
  color: #403e3e;
  opacity: 1;
}

input::-ms-input-placeholder {
  color: #403e3e;
  opacity: 1;
}

input::placeholder {
  color: #403e3e;
  opacity: 1;
}

input:-ms-input-placeholder {
  color: #403e3e;
}

input::-ms-input-placeholder {
  color: #403e3e;
}

.button {
  -webkit-transition: all .5s;
  transition: all .5s;
  text-align: center;
}

.button:hover {
  cursor: pointer;
}

.login {
  background-color: #3D667B;
  text-align: center;
  color: #fff;
  margin: auto;
  height: 100vh;
}

.login a {
  color: #fff;
}

.login__logo {
  width: 200px;
  height: 200px;
  margin: auto;
  padding: 20px;
}

.login__logo img {
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.login__title {
  background-color: #fff;
  color: #737373;
  padding: 10px 20px;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 20px;
}

.login__form {
  padding: 20px 0;
  box-sizing: border-box;
}

.login__form input {
  display: block;
  margin: 15px auto;
  width: 300px;
  box-sizing: border-box;
  padding: 10px 15px;
  border-radius: 10px;
  border: unset;
  outline: none;
}

.login__form > input:focus,
.login__password input:focus {
  box-shadow: 0 0 12px #00ff14;
}

.login__password {
  position: relative;
  width: 300px;
  margin: auto;
}

.login__remind {
  position: absolute;
  left: 320px;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  border-bottom: 1px solid transparent;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.login__remind:hover {
  border-bottom: 1px solid #fff;
}

.login__submit__wrapper {
  width: 300px;
  margin: auto;
  position: relative;
}

.login__submit-button {
  width: 150px;
  box-sizing: border-box;
  padding: 10px 15px;
  display: block;
  background-color: #fff;
  border-radius: 10px;
  border: unset;
  margin: auto;
  color: #403e3e;
  outline: none;
}

.login__submit-button:hover {
  box-shadow: 0 0 12px #00ff14;
}

.login__remember {
  position: absolute;
  left: 320px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  border-bottom: 1px solid transparent;
}

.login__remember input {
  display: inline-block;
  width: auto;
  margin: 0;
  vertical-align: middle;
}

.login__remember:hover {
  cursor: pointer;
}

.admin-panel {
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.admin-image {
  width: 41px;
  box-sizing: border-box;
  padding: 0 5px;
  display: inline-block;
}

.admin-image img {
  border-radius: 50%;
}

.admin-panel__top-bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  border-bottom: 1px solid #ccc;
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 99;
}

.admin-panel__top-bar-name {
  display: inline-block;
  padding: 12px 10px;
  width: 120px;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

.admin-panel__game-name {
  width: auto;
  display: inline-block;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  font-size: 17px;
  color: #737373;
  font-weight: bold;
  text-align: center;
}

.admin-panel__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 41px;
  width: 100%;
}

.admin-panel__sidebar {
  width: 41px;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  position: static;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  position: fixed;
  padding: 0 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  height: 100vh;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  background-color: #f5f5f5;
}

.sidebar__item {
  cursor: pointer;
  margin: 30px 0px;
}

.sidebar__item_exit {
  margin: 0px;
}

.sidebar__item img {
  border-radius: 50%;
}

.admin-panel__workspace {
  margin-left: 41px;
  background-color: #ccc;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.admin-panel__workspace-top {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.workspace__add-button {
  display: inline-block;
  vertical-align: middle;
}

.workspace__add-button li {
  list-style-type: none;
}

.workspace__search input {
  width: 320px;
  border: unset;
  padding: 5px 10px 5px 25px;
  box-sizing: border-box;
  outline: none;
  border-radius: 2px;
  background-color: #f6f6f6;
}

.workspace__search {
  display: inline-block;
  position: relative;
  right: 120px;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
}

.workspace__search::before {
  content: "";
  background-image: url('../img/search.png');
  width: 25px;
  height: 25px;
  background-size: contain;
  position: absolute;
}

.workspace__search-button {
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px 10px 5px 5px;
}

.workspace__add-button li {
  padding: 6px 10px 6px 10px;
  background-color: #eee;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  position: relative;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.workspace__add-button li:hover {
  background-color: #fff;
}

.workspace__add-button li::before {
  content: "";
  background-image: url('../img/plus.png');
  width: 25px;
  height: 25px;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.workspace__search__wrapper {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.workspace-middle {
  width: 100%;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

.workspace-middle__card {
  width: 400px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.card__title {
  text-align: center;
  font-size: 16px;
  color: #737373;
  width: 100%;
  margin-bottom: 15px;
}

.card__item {
  width: 150px;
  display: inline-block;
  padding: 5px;
  background-color: #eee;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.card__item__title {
  text-align: center;
  padding: 15px 5px 10px;
  box-sizing: border-box;
}

.card__item__icons {
  width: 100px;
  margin: auto;
}

.card__avatar {
  width: 36px;
  display: inline-block;
}

.card__avatar img {
  border-radius: 50%;
}

.card__info {
  display: inline-block;
  vertical-align: top;
}

.card__info li {
  list-style-type: none;
}
/*# sourceMappingURL=styles.css.map */
