<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/media.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <title>Биз игра</title>
  </head>
  <body>
 <div class="admin-panel">
  <div class="admin-panel__top-bar">
    <div class="admin-image">
      <img src="./img/user.jpg" alt="User">
    </div>
    <p class="admin-panel__top-bar-name">
      Суперадмин
    </p>
    <p class="admin-panel__game-name">
      Биз игра
    </p>
  </div>
  <div class="admin-panel__content authorized">
    <div class="admin-panel__sidebar">
      <div class="sidebar__items__wrapper">
        <div class="sidebar__item">
          <img src="./img/goal.png" alt="Курсы">
        </div>
        <div class="sidebar__item">
          <img src="./img/team.png" alt="Пользователи">
        </div>
        <div class="sidebar__item">
          <img src="./img/graph.png" alt="Аналитика">
        </div>
        <div class="sidebar__item">
          <img src="./img/achiev.png" alt="Рейтинги">
        </div>
      </div>
      <div class="sidebar__item sidebar__item_exit">
        <img src="./img/logout.png" alt="Выход">
      </div>
    </div>
    <div class="admin-panel__workspace">
      <div class="admin-panel__workspace-top">
        <div class="workspace__search__wrapper">  
          <label class="workspace__search">
            <input type="search" placeholder="поиск компании/админа/пользователя">
            <span class="workspace__search-button">ок</span>
          </label>
        </div>
          <ul class="workspace__add-button">
            <li>Компанию</li>
            <li>Админа</li>
            <li>Пользователя</li>
          </ul>
      </div>
      <div class="workspace-middle">
        <div class="workspace-middle__card">
          <p class="card__title">Компании</p>
          <div class="card__item card__settings">
            <div class="card__item__title">HR</div>
            <div class="card__item__icons"><img src="./img/team.png" alt=""></div>
            <button class="card__settings-btn"><img src="./img/settings.svg"></button>
          </div>
          <div class="card__item">
            <div class="card__item__title">Служба монтажа</div>
            <div class="card__item__icons"><img src="./img/team.png" alt=""></div>
            <button class="card__settings-btn"><img src="./img/settings.svg"></button>

          </div>
          <div class="card__item">
            <div class="card__item__title">Бухгалтерия</div>
            <div class="card__item__icons"><img src="./img/team.png" alt=""></div>
            <button class="card__settings-btn"><img src="./img/settings.svg"></button>

          </div>
          <div class="card__item">
            <div class="card__item__title">Отдел кадров</div>
            <div class="card__item__icons"><img src="./img/team.png" alt=""></div>
            <button class="card__settings-btn"><img src="./img/settings.svg"></button>

          </div>
        </div>
        <div class="workspace-middle__card">
          <p class="card__title">Администраторы</p>
          <div class="card__item card__settings">
            <div class="card__avatar"><img src="./img/user.jpg" alt="Аватар"></div>
            <ul class="card__info">
              <li>Фио:</li>
              <li>Компания:</li>
              <li>тел:</li>
              <li>email:</li>
            </ul>
            <button class="card__settings-btn"><img src="./img/settings.svg"></button>
          </div>
          <div class="card__item">
            <div class="card__avatar"><img src="./img/user.jpg" alt="Аватар"></div>
            <ul class="card__info">
              <li>Фио:</li>
              <li>Компания:</li>
              <li>тел:</li>
              <li>email:</li>
            </ul>
            <button class="card__settings-btn"><img src="./img/settings.svg"></button>
          </div>
          <div class="card__item">
            <div class="card__avatar"><img src="./img/user.jpg" alt="Аватар"></div>
            <ul class="card__info">
              <li>Фио:</li>
              <li>Компания:</li>
              <li>тел:</li>
              <li>email:</li>
            </ul>
            <button class="card__settings-btn"><img src="./img/settings.svg"></button>
          </div>
          <div class="card__item">
            <div class="card__avatar"><img src="./img/user.jpg" alt="Аватар"></div>
            <ul class="card__info">
              <li>Фио:</li>
              <li>Компания:</li>
              <li>тел:</li>
              <li>email:</li>
            </ul>
            <button class="card__settings-btn"><img src="./img/settings.svg"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
 </div>
 <div class="modal-mask">
        <div class="modal-wrapper">
            <div class="modal-container">
                <div class="modal-header">
                    <h3>Создание админа</h3>
                </div>
                <div class="modal-body">
                    <form @submit.prevent="onSubmit">
                        <div class="modal__input__wrapper">
                            <label for="company">Наименование компании:</label>
                            <input v-model="form.company" id="company" type="text">
                        </div>
                        <div class="modal__input__wrapper">
                            <label for="firstName">Фамилия:</label>
                            <input v-model="form.firstName" id="firstName" type="text">
                        </div>
                        <div class="modal__input__wrapper">
                            <label for="lastName">Имя:</label>
                            <input v-model="form.lastName" id="lastName" type="text">
                        </div>
                        <div class="modal__input__wrapper">
                            <label for="patronymic">Отчество:</label>
                            <input v-model="form.patronymic" id="patronymic" type="text">
                        </div>
                        <div class="modal__input__wrapper">
                            <label for="phone">Телефон:</label>
                            <input v-model="form.phone" id="phone" type="text">
                        </div>
                        <div class="modal__input__wrapper">
                            <label for="email">Email:</label>
                            <input v-model="form.email" id="email" type="text">
                        </div>
                        <div class="modal__input__wrapper">
                            <label for="password">Пароль:</label>
                            <input v-model="form.password" id="password" type="password">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="modal-default-button" @click="onSubmit">Создать админа</button>
                    <button type="button" class="modal-default-button" @click="$emit('close')">Отмена</button>
                </div>
            </div>
        </div>
    </div>

  <script src="./js/script.js"></script>
  </body>
</html>